*{
    margin: 0 auto;
}
body{
    background-color: #624E88;
    width: 1024px;
    height: 500px;
}
.slider{
    background-color: #8967B3;
    margin-top: 15em;
    width: 60rem;
    height: 30rem;
    border-radius: 2vh;
    text-align: center;
    overflow: hidden;
}
.mem-img{
    margin-top: 2%;
    
    width: 50rem;
    height: 25rem;
    border-radius: 20px;
}
.slider-box{
    display: flex;
    gap: 160px;
    padding-left: 8%;
    
    transition: transform 0.5s ease-in-out;
}
.controls{
    width: 20vh;
    margin-top: -1rem;
    margin-left: 51rem;
}
ul {
    
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
  
}

.box-text{
    color: whitesmoke;
    font-size: 22px;
    margin-top: 1rem;
    
}
.marker {
    margin-top: 10%;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    
    cursor: pointer;
  }
  .marker:hover{
    background-color:royalblue;
  }
  .marker.active {
    background-color: black;
  }
  @media (max-width: 500px) {
    *{
        margin: 0 auto;
    }
    body{
        
        width: 500px;
        height: 400px;
    }
    .slider{
        background-color: #8967B3;
        margin-top: 15em;
        width: 30rem;
        height: 18rem;
        border-radius: 2vh;
        text-align: center;
        overflow: hidden;
    }
    .mem-img{
        margin-top: 2%;
        
        width: 25rem;
        height: 12rem;
        border-radius: 10px;
    }
    .box-text{
        color: whitesmoke;
        font-size: 18px;
        margin-top: 1rem;
        
    }
    ul{
        position: static;
        margin-top: -195px;
        margin-left: -660px;
        width: 100px;
    }
    .marker {
        margin-top: 200px;
        width: 15px;
        height: 15px;
        background-color: gray;
        border-radius: 50%;
        
        cursor: pointer;
        
      }
      .slider-box{
        gap: 80px;
      }
}





  